body {
    background-image: url("./assets/Bryantlogo.jpeg");   
    background-size: 1515px 950px;
    background-repeat: no-repeat;
    color: white;
    font-family: sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .left-header{
    font-family: 'Bradley Hand';
    font-size: 100px;
    margin-left: auto;
    margin-top: 1rem;
}

header .right-header{
    margin-left: auto;
    margin-right: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#git{
    height: 40px;
    margin-top: 3px;
    margin-right: 10px;
}

.chart {
    font-family: 'Bradley Hand';
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.icon-player {
    display: grid;
    grid-template-rows: repeat(2, 145px);
    grid-template-columns: repeat(5, 150px);
    // grid-template-columns: 150px 150px;
    justify-content: center;
    margin: -10px; 
}

// .icon-player {
//     display: grid;
// grid-template-rows: flex;
//     justify-content: center;
//     margin: 0px; 
// }
.player-image-left {
    display: flex;
    flex-direction: column;
    align-items: left;
    white-space: nowrap;
}

.player-image-right {
    display: flex;
    flex-direction: column;
    align-items: right;
}


.player-name:hover {
    opacity: 0.3;
    transition: .3s;
    cursor: pointer;
    background-color: white;
}

.player-name {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    transition: all 0.3s ease;
    margin: 15px;
}

.hide {
    display: none;
    font-family: fantasy;
}

.player-name:hover + .hide {
    display: block;
    color: white;
}


